@import 'variables';

.discovery {
  border-radius: 16px;
  overflow: hidden;
}

.discovery-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;

  img {
    width: 100%;
    transition: transform .2s cubic-bezier(.4, .95, .6, 1.1);
  }

  .details {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 12px 4px;
    opacity: 0;
    color: $text-primary;
    font-size: 12px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    line-height: 20px;
    z-index: 3;

    .author {
      display: flex;
      align-items: center;
      gap: 6px;

      img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
    }

    &::after {
      height: 88px;
      background: linear-gradient(0deg, rgba(0, 0, 0, .4), transparent);
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 16px 12px 4px;
      z-index: 1;
    }
  }

  &:hover {
    .details {
      opacity: 1;
      transition: opacity .2s linear;
    }
  }
}

.discovery-item:hover img {
  transform: scale(1.02);
}

.carousel {
  width: calc(200% + 2px);
  height: 15vw;

  &-item {
    img {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }
  }

  &-hidden {
    height: 15vw;
  }
}