@import './variables';

html body[lv-theme=dark] {
  --bg-body: #0f0f12;
  --text-primary: $text-primary;
}

body {
  margin: 0;

  * {
    font-family: CapCut Sans, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  }
}