@import "variables";

.home-header-banner {
  display: grid;
  gap: 8px;
  grid-template-columns: 1.53fr repeat(4, 1fr);
  margin: 40px 0;
  width: 100%;

  .banner-item {
    padding: 16px 0px 16px 16px;
    background-color: $bg-surface;
    height: 76px;
    border-radius: 24px;
    display: flex;
    align-items: center;

    .image {
      width: 44px;
      height: 44px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .title-group {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-left: 2px;

      .title {
        color: $text-primary;
        font-size: 14px;
      }

      .subtitle {
        color: $text-secondary;
        font-size: 12px;
      }
    }
  }
}